@use "../../styles/partials/global" as *;

.projectcard{
 
    &__title{
        font-weight: 300;
        font-size: 30px;
        margin-bottom: 1rem;
        text-align: center;

        @include tablet{
            font-size: 35px;
            margin-bottom: 2rem;            
        }
     
    }

    &__image {
        border-radius: 6px;
        width: 80%;
        align-self: center;

        @include desktop{
            width: 300px;
        }        
    }

    &__container{
        display: flex;
        flex-direction: column;
      
  
         
    }
    &__links{
        width: fit-content;
        width: 150px;
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;

        @include desktop{
            margin-top: 0;
            align-self: center;
        }

        &-project3{
            width: auto;
        }
    }

    &__link{
        margin-top: 1rem;
   
        &:hover{
            cursor: pointer;
            color: #FB2576;
        }
    }
    &__details{
        display: flex;   
        flex-direction: column;
        justify-content: space-between;
        margin-top: 1rem;
        margin-bottom: 2rem;
        width: 80%;
        align-self: center;
        

        @include desktop{
            // margin-left: 2rem;
            margin-top: 1rem;
            margin-bottom: 0;
            // padding: 0 6rem;
            width: auto;
            align-self: auto;
        }
        
    }

    &__info{
        line-height: 1.5em;
        
        @include tablet {
            text-align: center;
        }
    }

    &__next{
        display: flex;
        align-items: center;
        &-image{
            width: 20px;
            filter: invert(37%) sepia(99%) saturate(4572%) hue-rotate(321deg) brightness(97%) contrast(103%);
            &:hover{
                cursor: pointer;
            }
        }
    }

    &__video{
        width: 100%;

        @include desktop{
            width: 700px;
        }
        

    }
}


.modal {

    top: 30%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 0;
    position: absolute;
    z-index: 1;
    background-color: black;

    

    @include desktop{
        top: 50%;
        left: 30%;
        
    }

  
}

.modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.676); 
    z-index: 1;
}