@use "../../styles/partials/global" as *;

.aboutpage-text {
    margin-top: 1.5rem;
    margin-bottom: 3rem;

    @include tablet{
        margin-top: 3rem;
        margin-bottom: 0;
        font-size: 18px;
        line-height: 1.8em;
    }
    
}

.aboutpage-container{
    @include tablet{
        height: 450px;
    }

}


