.projects{
    

    &__images {
        width: 100px;
        height: 100px;
    }

    &__details{
        // margin-top: 5rem;
    }


}


// Edit default carousel styles
.carousel .slide img {
    width: 30% !important;
    height: 30% !important;
    
}

.thumbs-wrapper{
    display: none;
}

.control-arrow:hover{
    background-color: transparent !important;
}

.carousel-status{
    display: none;
}

.legend{
    display: none;
    
}

.control-dots {
    display: none;
}

