@use "../../styles/partials/global" as *;

.skills {
    &__container{
        height: 420px;
    }
    &__cardbox{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 3rem;
        width: 250px;
        

        @include tablet{
            width: 430px;
        } 

        @include desktop{
            width: 500px;
            margin-left: 1rem;
        }
    }
}


