.skills {
    &__container{
        width: 500px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 9rem;
        margin-left: 1rem;

        
    }
}


