.home {
    display: flex;
    flex-direction: column;
    
    &__content{
        display: flex;
        height: 93.5vh;
    }
   
    &__container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 3rem;
        &-left{
            width: 60%;
        }
        // &-right{
        //     display: flex;
        //     flex-direction: row;
        //     align-items: center;
        //     position: absolute;
        //     top: -40px;
        //     right: 30px;
        // }
    }
    
    &__title{
        font-size: 150px;
        font-weight: 300;
    }

    &__text{
        width: 80%;
    }

    &__highlight{
        color: #FB2576;
    }

    &__top{
        width: 30%;
        border-top: 5px solid white;
        justify-self: flex-start;
        margin-top: 1rem;
        opacity: 60%;
    }

    &__bottom{
        width: 30%;
        border-top: 5px solid white;
        align-self: flex-end;
        opacity: 60%;
    }

    


}

