@use "../../styles/partials/global" as *;


.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 720px;
    
    &__logo{
        margin-top: -5px;
        color: white;
        font-weight: 700;
        font-size: 40px;
        text-shadow: -1px -1px 0 #FB2576;
    }
    
    &__content{
        max-width: 100vw;
        padding: 25px;
        height: 100vh;

        @include desktop{
            display: flex;
            height: 93.5vh;
        }
    }
   
    &__container {
        @include desktop{
            padding: 3rem;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;

            &-left{
                width: 60%;
            }
        }
    }
    
    &__title{
        font-size: 80px;
        font-weight: 300;
        margin-top: 2rem;

        @include tablet{
            font-size: 150px;
            margin-top: 0;
        }
    }

    &__subtitle{
        font-size: 30px;
        font-weight: 300;
        margin-top: 2rem;

        @include tablet{
            font-size: 50px;
            margin-top: 3rem;
        } 

        @include desktop{
            font-size: 70px;
            // position: fixed;
            // top: 200px;
            margin-top: 0;
        } 

    }

    &__text{
        margin-bottom: 2rem;
        font-size: 15px;
        @include tablet{
            width: 80%;
            margin-bottom: 0;
            font-size: inherit;
        }
    }

    &__highlight{
        color: #FB2576;
    }

    &__top{
        width: 150px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        @include tablet{
            width: 30%;
        }
    }

    &__top-left{
        width: 10px;
        border-top: 5px solid white;
        justify-self: flex-start;
        margin-top: 1rem;
        opacity: 60%;
        @include tablet{
            width: 12%;
        }
    }

    &__top-right{
        width: 100px;
        border-top: 5px solid white;
        justify-self: flex-start;
        margin-top: 1rem;
        opacity: 60%;

        @include tablet{
            width: 70%;
        }
        
        @include desktop{
            width: 76%;
        }
        
    }

    &__bottom{
        display: none;

        @include tablet{
            display: block;
            margin-bottom: 0;
            width: 300px;
            border-top: 5px solid white;
            align-self: flex-end;
            opacity: 60%;
            margin-bottom: 20px;
        }
    }
}

