.page {
    display: flex;
    flex-direction: column;

    &__logo{
        position: absolute;
        top: -5px;
        left: 55px;
        color: white;
        font-weight: 700;
        font-size: 40px;
        text-shadow: -1px -1px 0 #FB2576
    }
    
    &__content{
        display: flex;
        height: 93.5vh;
    }
   
    &__container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 3rem;
        &-left{
            width: 60%;
        }
    }
    
    &__title{
        font-size: 150px;
        font-weight: 300;
    }

    &__subtitle{
        font-size: 70px;
        font-weight: 300;
        position: fixed;
        top: 200px;
    }

    &__text{
        width: 80%;
    }

    &__highlight{
        color: #FB2576;
    }

    &__top{
        width: 30%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    &__top-left{
        width: 12%;
        border-top: 5px solid white;
        justify-self: flex-start;
        margin-top: 1rem;
        opacity: 60%;
      
    }

    &__top-right{
        width: 76%;
        border-top: 5px solid white;
        justify-self: flex-start;
        margin-top: 1rem;
        opacity: 60%;
        
    }

    &__bottom{
        width: 30%;
        border-top: 5px solid white;
        align-self: flex-end;
        opacity: 60%;
    }
}

