.nav {

    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;

    &__activelink{
        border-left: solid 1px #FB2576;
        &:hover{
            border: none;
        }
   }

   &__titles{
    color: white;
    font-size: 30px;
    padding-left: 1rem;
    margin-bottom: 0.25rem;
    font-weight: 100;
    &:hover{
        cursor: pointer;
        border-left: solid 1px #FB2576;
    }
}
}